
@font-face {font-family: "font-icon";
    src: url('font-icon.eot?t=1491356348778'); /* IE9*/
    src: url('font-icon.eot?t=1491356348778#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font-icon.woff?t=1491356348778') format('woff'), /* chrome, firefox */
    url('font-icon.ttf?t=1491356348778') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('font-icon.svg?t=1491356348778#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-alarm:before {
    content: "\e903";
}
.icon-dangjian:before {
    content: "\e901";
}
.icon-weimin:before {
    content: "\e902";
}
.icon-yuqing:before {
    content: "\e900";
}
.icon-x:before {
    content: "\78";
}
.icon-ruzhu:before {
    content: "\e601";
}
.icon-wenzhang:before {
    content: "\e603";
}
.icon-xuexi:before {
    content: "\e604";
}
.icon-pinglun:before {
    content: "\e605";
}
.icon-denglu:before {
    content: "\e606";
}
.icon-dianzan:before {
    content: "\e607";
}
.icon-liulan:before {
    content: "\e608";
}
.icon-shoucang:before {
    content: "\e609";
}
.icon-tuichu:before {
    content: "\e60a";
}
.icon-tongzhi:before {
    content: "\e60b";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-resource:before {
    content: "\f09e";
}