{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="{{STATIC_URL}}css/global.css">#}
    <link rel="stylesheet" href={% static "css/global.css" %}>
    <link rel="stylesheet" href={% static "css/djyun_big_auto.css" %}>
    <link rel="stylesheet" href={% static "css/iconfont.css" %}>

    <link type="image/x-icon" rel="shortcut icon" href={% static "/images/favicon.ico" %}>

    <title>校园态势感知</title>

{#    <script src={% static "js/require.min.js" %}></script>#}



    <script type="text/javascript">
{#        require(['date.format', 'jquery', 'echarts', 'underscore', 'mobiletest', 'djyun_big_map', 'djyun_big'], function () {#}
            var supportsOrientationChange = "onorientationchange" in window,
                orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";
            window.addEventListener(orientationEvent, function() {
                window.location.reload();
            }, false);
{#        });#}
    </script>
</head>
<body>
<canvas id="bg"></canvas>
<div class="body clearfix">
    <div class="logo-wrapper clearfix" style="text-align: center">
        <div class="logo">
            {#                    <%--等上线--%>#}
            <img src="/static/images/nc-logo1.gif" alt="">
        </div>
    </div>
    <div style="text-align: center;valign:center">
    <image src="static/images/x.svg" style="padding-left:40%; padding-top:10%"></image>
    <p style="font-size: 2em; font-family: 华文行楷">你来到了没有数据的荒原</p>
    </div>


</div>
</body>
<!-- <script type="text/javascript" src="${ctx}/static/src/js/djyun_bg.js"></script> -->

<script src={% static "js/jquery-1.12.3.min.js" %}></script>
<script src={% static "js/echarts.min.js" %}></script>
<script src={% static "js/mustache.min.js" %}></script>
<script src={% static "js/china.js" %}></script>
<script src={% static "js/map3.js" %}></script>
<script src={% static "js/mobiletest.js" %}></script>
<script src={% static "js/underscore-min.js" %}></script>
<script src={% static "js/date.format.js" %}></script>
{#<script src={% static "js/djyun_big.js" %}></script>#}
<script src={% static "js/bg.js" %}></script>
</html>
